.openerp .wireless_commission_tracker {
	font-size: 13px;
	color: #4c4c4c;
}
/*.openerp .wireless_commission_tracker_separator {
	font-size: 14px;
}
.openerp .wireless_commission_tracker_fields {
	font-size: 10px;
}*/
/*.openerp .wireless_commission_tracker_sheet {
	max-width:1100px;
}*/